/* 게시판 전체 */
#e_box {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* 게시판 목록 꾸밈 */
table {
    border-collapse: collapse;
    border: none;
    border-bottom: 1px solid rgb(39,56,104);
    width:1000px;
}

#table_header {
	background-color: rgb(39,56,104);
}

#table_header td {
	font-weight: bold;
	height: 40px;
	color: white;
}

.btn_class {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	height:40px;
}

.btn_class a {
	text-align: center;
	/* font-weight: bold; */
	font-size: 15px;
	width: 90px;
	padding: 10px 0px 10px 0px; 
	border: none;
	color: white;
	background-color: rgb(39,56,104);
}

.cls1 {
	color:rgb(39,56,104);
}
